<!DOCTYPE html>
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form) }}
    <br>
    {% endif %}
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 128px">
    {% endfor %}
    {% for message in messages %}
    <p>
    {{ message.author.username }} says: <b>{{ message.body }}</b>
    </p>
    {% endfor %}
{% endblock %}
